*.log
*.txt
*.phar
*.zip
*.pdf
start.sh
test/*
.idea
vendor
**/node_modules/*
texture pack/HerePack Boss - Copie

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
/socketsystem/node_modules/sprintf-js/.npmignore
/socketsystem/node_modules/yamljs/.npmignore
/socketsystem/node_modules/.package-lock.json
/socketsystem/node_modules/concat-map/.travis.yml
/socketsystem/node_modules/yamljs/.travis.yml
/socketsystem/node_modules/argparse/lib/action.js
/socketsystem/node_modules/argparse/lib/action_container.js
/socketsystem/node_modules/argparse/lib/help/added_formatters.js
/socketsystem/node_modules/sprintf-js/demo/angular.html
/socketsystem/node_modules/sprintf-js/src/angular-sprintf.js
/socketsystem/node_modules/sprintf-js/dist/angular-sprintf.min.js
/socketsystem/node_modules/sprintf-js/dist/angular-sprintf.min.js.map
/socketsystem/node_modules/sprintf-js/dist/angular-sprintf.min.map
/socketsystem/node_modules/argparse/lib/action/append.js
/socketsystem/node_modules/argparse/lib/argparse.js
/socketsystem/node_modules/argparse/lib/argument_parser.js
/socketsystem/node_modules/@types/node/assert.d.ts
/socketsystem/node_modules/@types/node/async_hooks.d.ts
/socketsystem/node_modules/typescript/AUTHORS.md
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/boot.js
/socketsystem/node_modules/sprintf-js/bower.json
/socketsystem/node_modules/yamljs/bower.json
/socketsystem/node_modules/@types/node/buffer.d.ts
/socketsystem/node_modules/yamljs/Cakefile
/socketsystem/node_modules/typescript/lib/cancellationToken.js
/socketsystem/node_modules/argparse/CHANGELOG.md
/socketsystem/node_modules/@types/node/child_process.d.ts
/socketsystem/node_modules/@types/node/cluster.d.ts
/socketsystem/node_modules/typescript/CODE_OF_CONDUCT.md
/socketsystem/node_modules/glob/common.js
/socketsystem/utils/Config.js
/socketsystem/node_modules/@types/node/console.d.ts
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/console.js
/socketsystem/node_modules/argparse/lib/const.js
/socketsystem/node_modules/argparse/lib/action/append/constant.js
/socketsystem/node_modules/argparse/lib/action/store/constant.js
/socketsystem/node_modules/@types/node/constants.d.ts
/socketsystem/node_modules/@types/node/stream/consumers.d.ts
/socketsystem/node_modules/argparse/lib/action/count.js
/socketsystem/node_modules/@types/node/crypto.d.ts
/socketsystem/node_modules/yamljs/demo/demo.html
/socketsystem/node_modules/@types/node/dgram.d.ts
/socketsystem/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/de/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/es/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/it/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
/socketsystem/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
/socketsystem/node_modules/@types/node/diagnostics_channel.d.ts
/socketsystem/node_modules/@types/node/dns.d.ts
/socketsystem/node_modules/@types/node/domain.d.ts
/socketsystem/node_modules/yamljs/src/Dumper.coffee
/socketsystem/node_modules/yamljs/lib/Dumper.js
/socketsystem/node_modules/yamljs/src/Exception/DumpException.coffee
/socketsystem/node_modules/yamljs/lib/Exception/DumpException.js
/socketsystem/node_modules/argparse/lib/argument/error.js
/socketsystem/node_modules/yamljs/src/Escaper.coffee
/socketsystem/node_modules/yamljs/lib/Escaper.js
/socketsystem/node_modules/@types/node/events.d.ts
/socketsystem/node_modules/yamljs/test/spec/example.yml
/socketsystem/node_modules/argparse/lib/argument/exclusive.js
/socketsystem/node_modules/argparse/lib/action/store/false.js
/socketsystem/node_modules/argparse/lib/help/formatter.js
/socketsystem/node_modules/@types/node/fs.d.ts
/socketsystem/node_modules/balanced-match/.github/FUNDING.yml
/socketsystem/node_modules/glob/glob.js
/socketsystem/node_modules/@types/node/globals.d.ts
/socketsystem/node_modules/@types/node/globals.global.d.ts
/socketsystem/node_modules/argparse/lib/argument/group.js
/socketsystem/node_modules/sprintf-js/gruntfile.js
/socketsystem/node_modules/argparse/lib/action/help.js
/socketsystem/node_modules/@types/node/http.d.ts
/socketsystem/node_modules/@types/node/http2.d.ts
/socketsystem/node_modules/@types/node/https.d.ts
/socketsystem/node_modules/@types/node/index.d.ts
/socketsystem/node_modules/@types/yamljs/index.d.ts
/socketsystem/node_modules/rcon-client/lib/index.d.ts
/socketsystem/node_modules/typed-emitter/index.d.ts
/socketsystem/node_modules/argparse/index.js
/socketsystem/node_modules/balanced-match/index.js
/socketsystem/node_modules/brace-expansion/index.js
/socketsystem/node_modules/concat-map/index.js
/socketsystem/node_modules/fs.realpath/index.js
/socketsystem/node_modules/path-is-absolute/index.js
/socketsystem/node_modules/rcon-client/lib/index.js
/socketsystem/node_modules/yamljs/index.js
/socketsystem/node_modules/inflight/inflight.js
/socketsystem/node_modules/inherits/inherits.js
/socketsystem/node_modules/inherits/inherits_browser.js
/socketsystem/node_modules/yamljs/src/Inline.coffee
/socketsystem/node_modules/yamljs/lib/Inline.js
/socketsystem/node_modules/@types/node/inspector.d.ts
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/jasmine.css
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/jasmine.js
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/jasmine-html.js
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/jasmine_favicon.png
/socketsystem/node_modules/.bin/json2yaml
/socketsystem/node_modules/yamljs/bin/json2yaml
/socketsystem/node_modules/yamljs/cli/json2yaml.js
/socketsystem/node_modules/typescript/lib/lib.d.ts
/socketsystem/node_modules/typescript/lib/lib.dom.d.ts
/socketsystem/node_modules/typescript/lib/lib.dom.iterable.d.ts
/socketsystem/node_modules/typescript/lib/lib.es5.d.ts
/socketsystem/node_modules/typescript/lib/lib.es6.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.collection.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.core.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.generator.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.iterable.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.promise.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.proxy.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.reflect.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.symbol.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2016.array.include.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2016.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2016.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.object.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.promise.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2018.regexp.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.array.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.object.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2019.symbol.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.bigint.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.date.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.number.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.promise.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.promise.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2021.weakref.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.array.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.error.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.object.d.ts
/socketsystem/node_modules/typescript/lib/lib.es2022.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.full.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.intl.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.promise.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.string.d.ts
/socketsystem/node_modules/typescript/lib/lib.esnext.weakref.d.ts
/socketsystem/node_modules/typescript/lib/lib.scripthost.d.ts
/socketsystem/node_modules/typescript/lib/lib.webworker.d.ts
/socketsystem/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
/socketsystem/node_modules/typescript/lib/lib.webworker.iterable.d.ts
/socketsystem/node_modules/@types/node/LICENSE
/socketsystem/node_modules/@types/yamljs/LICENSE
/socketsystem/node_modules/argparse/LICENSE
/socketsystem/node_modules/brace-expansion/LICENSE
/socketsystem/node_modules/concat-map/LICENSE
/socketsystem/node_modules/fs.realpath/LICENSE
/socketsystem/node_modules/glob/LICENSE
/socketsystem/node_modules/inflight/LICENSE
/socketsystem/node_modules/inherits/LICENSE
/socketsystem/node_modules/minimatch/LICENSE
/socketsystem/node_modules/once/LICENSE
/socketsystem/node_modules/sprintf-js/LICENSE
/socketsystem/node_modules/typed-emitter/LICENSE
/socketsystem/node_modules/wrappy/LICENSE
/socketsystem/node_modules/yamljs/LICENSE
/socketsystem/node_modules/path-is-absolute/license
/socketsystem/node_modules/balanced-match/LICENSE.md
/socketsystem/utils/Log.js
/socketsystem/node_modules/concat-map/example/map.js
/socketsystem/node_modules/concat-map/test/map.js
/socketsystem/node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
/socketsystem/node_modules/minimatch/minimatch.js
/socketsystem/node_modules/yamljs/test/lib/jasmine-2.0.0/MIT.LICENSE
/socketsystem/node_modules/@types/node/module.d.ts
/socketsystem/node_modules/argparse/lib/namespace.js
/socketsystem/node_modules/@types/node/net.d.ts
/socketsystem/node_modules/fs.realpath/old.js
/socketsystem/node_modules/once/once.js
/socketsystem/node_modules/@types/node/os.d.ts
/socketsystem/node_modules/@types/node/package.json
/socketsystem/node_modules/@types/yamljs/package.json
/socketsystem/node_modules/argparse/package.json
/socketsystem/node_modules/balanced-match/package.json
/socketsystem/node_modules/brace-expansion/package.json
/socketsystem/node_modules/concat-map/package.json
/socketsystem/node_modules/fs.realpath/package.json
/socketsystem/node_modules/glob/package.json
/socketsystem/node_modules/inflight/package.json
/socketsystem/node_modules/inherits/package.json
/socketsystem/node_modules/minimatch/package.json
/socketsystem/node_modules/once/package.json
/socketsystem/node_modules/path-is-absolute/package.json
/socketsystem/node_modules/rcon-client/package.json
/socketsystem/node_modules/sprintf-js/package.json
/socketsystem/node_modules/typed-emitter/package.json
/socketsystem/node_modules/typescript/package.json
/socketsystem/node_modules/wrappy/package.json
/socketsystem/node_modules/yamljs/package.json
/socketsystem/node_modules/rcon-client/lib/packet.d.ts
/socketsystem/node_modules/rcon-client/lib/packet.js
/socketsystem/node_modules/yamljs/src/Exception/ParseException.coffee
/socketsystem/node_modules/yamljs/lib/Exception/ParseException.js
/socketsystem/node_modules/yamljs/src/Exception/ParseMore.coffee
/socketsystem/node_modules/yamljs/lib/Exception/ParseMore.js
/socketsystem/node_modules/yamljs/src/Parser.coffee
/socketsystem/node_modules/yamljs/lib/Parser.js
/socketsystem/node_modules/@types/node/path.d.ts
/socketsystem/node_modules/yamljs/src/Pattern.coffee
/socketsystem/node_modules/yamljs/lib/Pattern.js
/socketsystem/node_modules/@types/node/perf_hooks.d.ts
/socketsystem/node_modules/@types/node/process.d.ts
/socketsystem/node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
/socketsystem/node_modules/@types/node/dns/promises.d.ts
/socketsystem/node_modules/@types/node/fs/promises.d.ts
/socketsystem/node_modules/@types/node/readline/promises.d.ts
/socketsystem/node_modules/@types/node/stream/promises.d.ts
/socketsystem/node_modules/@types/node/timers/promises.d.ts
/socketsystem/node_modules/typescript/lib/protocol.d.ts
/socketsystem/node_modules/@types/node/punycode.d.ts
/socketsystem/node_modules/@types/node/querystring.d.ts
/socketsystem/node_modules/rcon-client/lib/queue.d.ts
/socketsystem/node_modules/rcon-client/lib/queue.js
/socketsystem/node_modules/rcon-client/lib/rcon.d.ts
/socketsystem/node_modules/rcon-client/lib/rcon.js
/socketsystem/node_modules/@types/node/readline.d.ts
/socketsystem/node_modules/concat-map/README.markdown
/socketsystem/node_modules/@types/node/README.md
/socketsystem/node_modules/@types/yamljs/README.md
/socketsystem/node_modules/argparse/README.md
/socketsystem/node_modules/balanced-match/README.md
/socketsystem/node_modules/brace-expansion/README.md
/socketsystem/node_modules/fs.realpath/README.md
/socketsystem/node_modules/glob/README.md
/socketsystem/node_modules/inflight/README.md
/socketsystem/node_modules/inherits/README.md
/socketsystem/node_modules/minimatch/README.md
/socketsystem/node_modules/once/README.md
/socketsystem/node_modules/rcon-client/README.md
/socketsystem/node_modules/sprintf-js/README.md
/socketsystem/node_modules/typed-emitter/README.md
/socketsystem/node_modules/typescript/lib/README.md
/socketsystem/node_modules/typescript/README.md
/socketsystem/node_modules/wrappy/README.md
/socketsystem/node_modules/yamljs/README.md
/socketsystem/node_modules/path-is-absolute/readme.md
/socketsystem/node_modules/@types/node/repl.d.ts
/socketsystem/node_modules/typescript/SECURITY.md
/socketsystem/node_modules/yamljs/test/SpecRunner.html
/socketsystem/node_modules/rcon-client/lib/splitter.d.ts
/socketsystem/node_modules/rcon-client/lib/splitter.js
/socketsystem/node_modules/sprintf-js/src/sprintf.js
/socketsystem/node_modules/sprintf-js/dist/sprintf.min.js
/socketsystem/node_modules/sprintf-js/dist/sprintf.min.js.map
/socketsystem/node_modules/sprintf-js/dist/sprintf.min.map
/socketsystem/node_modules/argparse/lib/action/store.js
/socketsystem/node_modules/@types/node/stream.d.ts
/socketsystem/node_modules/@types/node/assert/strict.d.ts
/socketsystem/node_modules/@types/node/string_decoder.d.ts
/socketsystem/node_modules/argparse/lib/action/subparsers.js
/socketsystem/node_modules/glob/sync.js
/socketsystem/node_modules/@types/node/test.d.ts
/socketsystem/node_modules/sprintf-js/test/test.js
/socketsystem/node_modules/@types/node/timers.d.ts
/socketsystem/node_modules/@types/node/tls.d.ts
/socketsystem/node_modules/@types/node/trace_events.d.ts
/socketsystem/node_modules/argparse/lib/action/store/true.js
/socketsystem/node_modules/.bin/tsc
/socketsystem/node_modules/typescript/bin/tsc
/socketsystem/node_modules/typescript/lib/tsc.js
/socketsystem/node_modules/rcon-client/tsconfig.json
/socketsystem/node_modules/.bin/tsserver
/socketsystem/node_modules/typescript/bin/tsserver
/socketsystem/node_modules/typescript/lib/tsserver.js
/socketsystem/node_modules/typescript/lib/tsserverlibrary.d.ts
/socketsystem/node_modules/typescript/lib/tsserverlibrary.js
/socketsystem/node_modules/@types/node/tty.d.ts
/socketsystem/node_modules/typescript/lib/typescript.d.ts
/socketsystem/node_modules/typescript/lib/typescript.js
/socketsystem/node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
/socketsystem/node_modules/typescript/lib/typescriptServices.d.ts
/socketsystem/node_modules/typescript/lib/typescriptServices.js
/socketsystem/node_modules/typescript/lib/typesMap.json
/socketsystem/node_modules/typescript/lib/typingsInstaller.js
/socketsystem/node_modules/yamljs/src/Unescaper.coffee
/socketsystem/node_modules/yamljs/lib/Unescaper.js
/socketsystem/node_modules/@types/node/url.d.ts
/socketsystem/node_modules/@types/node/util.d.ts
/socketsystem/node_modules/yamljs/src/Utils.coffee
/socketsystem/node_modules/yamljs/lib/Utils.js
/socketsystem/node_modules/argparse/lib/utils.js
/socketsystem/node_modules/@types/node/v8.d.ts
/socketsystem/node_modules/argparse/lib/action/version.js
/socketsystem/node_modules/@types/node/vm.d.ts
/socketsystem/node_modules/@types/node/wasi.d.ts
/socketsystem/node_modules/typescript/lib/watchGuard.js
/socketsystem/node_modules/@types/node/stream/web.d.ts
/socketsystem/node_modules/@types/node/worker_threads.d.ts
/socketsystem/node_modules/wrappy/wrappy.js
/socketsystem/node_modules/yamljs/src/Yaml.coffee
/socketsystem/node_modules/yamljs/dist/yaml.debug.js
/socketsystem/node_modules/yamljs/lib/Yaml.js
/socketsystem/node_modules/yamljs/dist/yaml.js
/socketsystem/node_modules/yamljs/dist/yaml.legacy.js
/socketsystem/node_modules/yamljs/dist/yaml.min.js
/socketsystem/node_modules/.bin/yaml2json
/socketsystem/node_modules/yamljs/bin/yaml2json
/socketsystem/node_modules/yamljs/cli/yaml2json.js
/socketsystem/node_modules/yamljs/test/spec/YamlSpec.coffee
/socketsystem/node_modules/yamljs/test/spec/YamlSpec.js
/socketsystem/node_modules/@types/node/zlib.d.ts
/socketsystem/node_modules/
